.nav{
   background-image: url('../../../public/navbackground.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 110px;
}

.nav a{
    color: white !important;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    margin: 0px 5px;
    
}

.nav a:hover{
    color: var(--color-primary-50) !important;
}

.bntcadastre{
    background-color: white;
    color: var(--color-primary);
    border: solid 1px white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    

}

.bntcadastre:hover{
    background-color: var(--color-primary);
    color: white;
    border: solid 1px white;
}

.bntentra{
    background-color: var(--color-blue-s);
    color: white;
    border: solid 1px var(--color-blue-s);
    border-radius: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.bntmedis{
    background:'transparent';
    border:'none';
}

.bntmedis img{
    height: 100px;
}

.bntmedis:hover{
    background-color: white;
    color: var(--color-primary);
    border: solid 1px white
}

.logobox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bntmobile{
    display: none;
}
.menumobile{
    display: none;
}
.boxlinks{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;

}

.userimgbox{
    height: 70px;
    width:  70px;
    border-radius: 50%;
    border: solid 1px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffe3;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
   .nav{
       height: 100px;
       background: var(--color-primary);
   }
   .links{
       display: none !important;
   }
   .bntmobile{
       display: block;
       color: white;
       width: 60px;
       height: 60px;
       background: transparent;
       border: none;
   }
   .bntmobile:hover{
       background: transparent;
       border: none;
   }
   .menumobile{
        position: absolute;
        background: var(--color-primary);
        width: 110vw;
        height: 370px;
        top: 95px;
        left: 0;
        display: block;
   }
   .navbox{
       display: flex;
       flex-direction: column  !important;
       padding-left: 15px;
   }

   .navbox a{
       margin-top: 15px;
       margin-bottom: 10px;
   }
   .navbox button{
       margin-top: 10px;
       width: 90vw;
       margin-left: 0;
       height: 40px;
       text-align: center;
   }
  
}
