.container{
    background-color: white;
    width: 40vw;
    height: 69vh;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 50px;
    border: solid 1px gray;
    padding: 50px;
}

@media(max-width:900px){
    .container{
        width: 90vw;
    }
}